<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'init_ace_admin1', media: 'all' %>
  <%= stylesheet_link_tag    'init_ace_admin2', media: 'all' %>
  <%= javascript_include_tag 'init_ace_admin' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
